# Copia este .env y ponlo con tus valores
SECRET_KEY=your-very-secret-key-here
DB_NAME=savevault
DB_USER=savevault
DB_PASSWORD=your_db_password
DB_HOST=db
DB_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com
ADMIN_EMAIL=admin@yourdomain.com
#,yourdomain.com

#Pasar de produccion a desarrollo
DJANGO_SETTINGS_MODULE=savevault.settings.production
#DJANGO_SETTINGS_MODULE=savevault.settings.development

# Configuracion del correo para reportes (solo funciona en producción, si esta en desarrollo se imprime en consola)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your@email.com
EMAIL_HOST_PASSWORD=your_email_password

# Emisor del correo
DEFAULT_FROM_EMAIL=noreply@savevault.com

# Credenciales de IGDB
IGDB_CLIENT_ID=your_igdb_client_id
IGDB_CLIENT_SECRET=your_igdb_client_secret